<!DOCTYPE html>

<html lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>
            {% block title %}{% endblock %}
    </title>
    <!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">-->
<!-- Design -->
    {% load compressed %}
    {% compressed_css 'core' %}
    <script src="http://use.edgefonts.net/kaushan-script.js"></script>     
<!--    <script src="http://use.edgefonts.net/abril-fatface.js"></script> -->
</head>

<body>
    <div id="container">
        <div id="frame">
            <div id="menu-global-links">
                {% block menu-global %}
                    <a href="/" class="{% if fiber_page %}current{% endif %}">L'accueil aux Ponts</a>
                  {% if user.is_authenticated %}
                    <a href="{% url "profile_home" %}" class="{% block user-section %}{% endblock %}">Compte admissible</a>
                  {% else %}
                    <a href="{% url "auth_login" %}" class="{% block reg-section %}{% endblock %}">Connexion / Inscription</a>
                  {% endif %}
                {% endblock %}
            </div>
        
            <div id="menu-sub-space">
                <div id="menu-sub">
                    {% block menu-sub %}{% endblock %}
                </div>
            </div>

            <div id="content-view">	
                <div id="content-title">
                    <h1>
                        {% block content-title %}{% endblock %}
                    </h1>
                </div>
                
                {% block content %}{% endblock %}
            </div>
            
        </div>
    </div>
    <div id ="foot">
        <p>
          Code et design par NE'013
          <!--<span class="arrow-up"></span>-->
        </p>
    </div>
<!--
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
-->

</body>
</html>
