<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>
        {% block title %}{% endblock %}	    
    </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/style.css" media="screen" />
</head>

<body>

<div id="global">
	<div id="change">
		<ul id="navigation">
			<li><a href="index.php?module=membres&amp;action=inscription">Inscription</a></li>
			<li><a href="index.php?module=membres&amp;action=connexion">Connexion</a></li>
		</ul><!-- #navigation -->
		
        {% block body %}
		
        <div id="entete">
		<h1>
            {% block content_title %}{% endblock %}
		</h1>
			
		</div><!-- #entete -->
		
		<div id="contenu">
		
			<p>
            {% block content %}{% endblock %}
			</p>
		</div><!-- #contenu -->

		<div id="pied">
			<p>
				Code et design par NE'013
			</p>
		</div><!-- #pied -->

        {% endblock %}

	</div><!-- #change -->
</div><!-- #global -->
</body>
</html>
