* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(../img/banner.png) top no-repeat, url(../img/footer.png) bottom no-repeat, #e1e1d7;
  background-attachment: fixed, fixed;
  padding-bottom: 50px;
}
#container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  margin-bottom: 90px;
  padding: 40px 0 40px 0px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  -webkit-box-shadow: 5px 5px 20px #787878;
  box-shadow: 5px 5px 20px #787878;
  background: #fff;
}
#container #frame {
  width: 824px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  border-left: 1px solid #dcdcdc;
  position: relative;
}
#container #frame #menu-global-links {
  position: absolute;
  right: 0;
  top: -60px;
}
#container #frame #menu-global-links a {
  line-height: 35px;
  font-size: 1.5em;
  color: #141414;
  text-decoration: none;
  font-family: Arial;
  font-variant: small-caps;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin-right: 10px;
  padding: 6px 13px;
  background: #a9a9a9;
  -webkit-box-shadow: 1px 1px 3px #1d1d1d;
  box-shadow: 1px 1px 3px #1d1d1d;
  position: relative;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
#container #frame #menu-global-links a:hover {
  color: #fafafa;
}
#container #frame #menu-global-links a .arrow-down {
  width: 0;
  height: 0;
  line-height: 0;
  border-right: 10px solid transparent;
  border-bottom: 21px solid #3c3c3c;
  top: 0;
  right: -10px;
  position: absolute;
}
#container #frame #menu-sub-space {
  width: 190px;
  float: right;
  margin-top: 30px;
}
#container #frame #menu-sub-space #menu-sub {
  width: 175px;
  float: right;
  position: fixed;
  padding: 10px 0 10px 20px;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}
#container #frame #menu-sub-space #menu-sub ul {
  padding: 0;
  margin: 0;
  text-align: left;
}
#container #frame #menu-sub-space #menu-sub ul li {
  margin: 0.2em 0;
  list-style-type: none;
}
#container #frame #menu-sub-space #menu-sub ul li a {
  color: #08c;
  font-size: 1.1em;
  text-decoration: none;
}
#container #frame #menu-sub-space #menu-sub ul li a:hover {
  text-decoration: underline;
  color: #c09853;
}
#container #frame #menu-sub-space #menu-sub ul .current a {
  font-weight: bold;
}
#container #frame #menu-sub-space #menu-sub ul .current a:hover {
  color: #c09853;
}
#container #frame #menu-sub-space #menu-sub ul .current ul {
  margin-left: 20px;
}
#container #frame #menu-sub-space #menu-sub ul .current ul li a {
  color: #08c;
  font-weight: normal;
}
#container #frame #menu-sub-space #menu-sub ul .current ul .current a {
  font-weight: bold;
}
#container #frame #content-title {
  margin-bottom: 30px;
  margin-top: 0;
}
#container #frame #content-title h1 {
  margin-top: 0;
  font-family: kaushan-script, serif;
  text-indent: 20px;
  font-size: 4em;
  font-weight: normal;
}
#container #frame #content-view {
  margin-right: 220px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 30px;
  border-right: 1px solid #dcdcdc;
  padding-bottom: 30px;
}
#container #frame #content-view img {
  display: block;
  padding: 5px;
  margin: 30px auto;
  -webkit-box-shadow: 5px 5px 20px #787878;
  box-shadow: 5px 5px 20px #787878;
}
#container #frame #content-view li {
  margin: 10px 0;
}
#container #frame #footer {
  position: absolute;
  bottom: -60px;
  right: 0;
}
#container #frame #footer p {
  margin: 0;
  float: right;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #a9a9a9;
  color: #141414;
  padding: 6px 13px;
  line-height: 25px;
  font-size: 1em;
  -webkit-box-shadow: 5px 5px 20px #787878;
  box-shadow: 5px 5px 20px #787878;
  position: relative;
}
#container #frame #footer p .arrow-up {
  width: 0;
  height: 0;
  line-height: 0;
  border-right: 10px solid transparent;
  border-top: 20px solid #323232;
  bottom: 0;
  right: -10px;
  position: absolute;
}
