@import 'nib'

wmenu = 190px
wcontainer = 824px
contentspace = 30px
orangecolor = rgb(235, 88, 0)
lightorangecolor = rgb(192, 152, 83)
lightbluecolor = rgb(0, 136, 204)
deepredcolor = rgb(186, 3, 3)
deeperredcolor = rgb(177, 3, 3)
skincolor = rgb(189, 152, 125)

mainmenucolor = skincolor
submenucolor = deepredcolor
submenuhovercolor = lightorangecolor



*
   -moz-box-sizing border-box
   -webkit-box-sizing border-box
   box-sizing border-box

html
   margin 0
   padding 0
   height 100%

body
   margin 0
   padding 0
   background url('../img/banner.png') top no-repeat, url('../img/footer.png') bottom no-repeat, rgb(225, 225, 215)
   background-attachment fixed, fixed
   padding-bottom 50px


#container
   position relative
   width 100%
   margin-left auto
   margin-right auto
   margin-top 180px
   margin-bottom 90px
   padding 40px 0 40px 0px
   border-top solid 1px
   border-bottom solid 1px
   box-shadow 5px 5px 20px rgb(120, 120, 120)
   background rgb(255, 255, 255)

   #frame
      width wcontainer
      margin 0 auto
      padding 0 20px 0 20px
      border-left 1px solid rgb(220, 220, 220)
      position relative  

      #menu-global-links
        position absolute
        right 0
        top -60px  

        a
           line-height 35px
           font-size 1.5em
           color rgb(20, 20, 20)
           text-decoration none
           font-family Arial
           font-variant small-caps        
           border-radius 0 0 5px 5px
           margin-right 10px
           padding 6px 13px
           background mainmenucolor
           box-shadow 1px 1px 3px rgb(29, 29, 29);
           position relative
           text-shadow 0px -1px 0px rgba(0,0,0,.5);
           
           &:hover
              color white
              text-shadow 0px -1px 2px rgba(0,0,0,.5);
           
           .arrow-down
              width 0
              height 0
              line-height 0  
              border-right 10px solid transparent 
              border-bottom 21px solid rgb(60, 60, 60)
              top 0  
              right -10px
              position absolute  

      #menu-sub-space
        width wmenu
        float right
        margin-top 30px

        #menu-sub
           width wmenu - 15px
           float right
           position fixed
           padding 10px 0 10px 20px
           // border-radius 3px 3px
           border-top solid 1px rgb(220, 220, 220)
           border-bottom solid 1px rgb(220, 220, 220)
           // background linear-gradient(left, rgba(229, 229, 229, 0.9) 0%, rgba(255, 255, 255, 0.5) 100%)

           ul
              padding 0
              margin 0
              text-align left

              li
                margin .2em 0
                list-style-type none

                a
                   color submenucolor
                   font-size 1.1em
                   text-decoration none
                   
                   &:hover
                      text-decoration underline
                      //color submenuhovercolor
              
              .current
                a
                   font-weight bold
                   
                   &:hover
                      //color submenuhovercolor

                ul 
                   margin-left 20px

                   li
                      a
                        color submenucolor
                        font-weight normal

                   .current
                      a
                        font-weight bold
      #content-title
        margin-bottom 30px
        margin-top 0

        h1
           margin-top 0
           font-family kaushan-script, serif
           text-indent 20px
           font-size 4em
           font-weight normal
           // border-bottom 1px solid rgb(120, 120, 120)
      
      #content-view
        margin-right (wmenu + contentspace)
        padding-left 10px
        padding-top 10px
        padding-right 30px
        border-right 1px solid rgb(220, 220, 220)
        padding-bottom 30px

        img
           display block
           padding 5px
           margin 30px auto
           box-shadow 5px 5px 20px rgb(120, 120, 120)

        li
           margin 10px 0

      #footer 
        position absolute
        bottom -60px
        right 0      

        p
           margin 0
           float right
           border-radius 5px 5px 0 0
           background mainmenucolor
           color rgb(20, 20, 20)
           padding  6px 13px
           line-height 25px
           font-size 1em
           box-shadow 5px 5px 20px rgb(120, 120, 120)
           position relative
           
           .arrow-up
              width 0
              height 0
              line-height 0  
              border-right 10px solid transparent
              border-top 20px solid rgb(50, 50, 50)
              bottom 0  
              right -10px
              position absolute
