@import 'nib'

wmenu = 190px
wcontainer = 724px
contentspace = 30px
orangecolor = rgb(235, 88, 0)
lightorangecolor = rgb(192, 152, 83)
lightbluecolor = rgb(0, 136, 204) 

html
    margin 0
    padding 0
    height 100%

body
    margin 0
    padding 0
    background url('../img/banner.png') top no-repeat rgb(201, 201, 201)
    background-attachment fixed
    padding-bottom 50px

#menu-global
    margin 0 auto
    width wcontainer
    
    ul li
        float right 
        margin-right 10px
        padding 0 13px
        border-radius 0 0 5px 5px
        background rgb(69, 69, 69)
        list-style-type none
        
        a
            line-height 35px
            font-size 17px
            text-decoration none
            color rgb(255, 255, 255)
            font-variant small-caps           
 
            &:hover
                color lightorangecolor // orangecolor
                text-shadow 1px 1px rgb(0, 0, 0)

#container
    width wcontainer
    margin-left auto
    margin-right auto
    margin-top 250px
    padding 40px 15px 40px 30px
    border-radius 3px
    border solid 1px
    box-shadow 5px 5px 20px rgb(120, 120, 120)
    background rgba(255, 255, 255, 0.97)

#menu-sub-space
    width wmenu
    float right
    margin-top 50px

#menu-sub
    width wmenu - 15px
    float right
    padding 10px 0 10px 20px
    border-radius 3px 3px
    border-right none
    border solid 1px
    background linear-gradient(left, rgba(229, 229, 229, 0.9) 0%, rgba(255, 255, 255, 0.5) 100%)


#menu-sub ul
    padding 0
    margin 0
    text-align left

    li
        list-style-type none

        a
            color lightbluecolor
            font-size 1.1em
            
            &:hover
                //background linear-gradient(top, rgba(255, 255, 255, 0.1) 85%, lightbluecolor 99%)
                text-decoration none
                border-bottom 1px dotted lightbluecolor
     
    .current
        a
            color lightorangecolor

        ul 
            margin-left 20px

            li
                a
                    color lightbluecolor

            .current
                a
                    color lightorangecolor
                    border-bottom 1px dotted lightorangecolor

#content-title h1
    font-family abril-fatface, yellowtail, serif
    text-indent 20px

#content-view
    margin-right (wmenu + contentspace)
    margin-top 30px

#footer
    margin 0 auto
    width wcontainer
    margin-bottom 50px

    p
        margin 0
        float right
        border-radius 0 0 5px 5px 
        background rgb(69, 69, 69)
        color rgb(255, 255, 255)
        padding 0 13px
        line-height 25px
        font-size 1em
        box-shadow 5px 5px 20px rgb(120, 120, 120)
